:root {
	--bs-body-bg: #ddebca;
  --bs-info-rgb: 139,199,58;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  background-color: var(--bs-body-bg);
  margin: 0;
  font-family: var(--bs-body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
